<% records.each do |record|
  main_role = record.role_by_type('reservee') || record.role_by_type('deceased')
  applicant = record.role_by_type('applicant')
  next_of_kin = record.role_by_type('next_of_kin')
  %>
  <div class="clickable <%= record.status %>">
    <div class="summary">
      <%= record.type.demodulize.titleize %> - <%= print { record.place.name } %> - <%= print { "#{main_role.person.title} #{main_role.person.given_name} #{main_role.person.surname}" } %>
      <a class="goto" href="<%= url :"#{record.type.downcase}_view", :id => record.id %>" title="View record"></a>
    </div>
    <div class="details">
      <div class="left rowed">
        <div class="row">
          <span>Applicant:</span>
          <div><%= print { "#{applicant.person.title} #{applicant.person.given_name} #{applicant.person.surname}" } %></div>
        </div>
        <div class="row">
          <span>Next of Kin:</span>
          <div><%= print { "#{next_of_kin.person.title} #{next_of_kin.person.given_name} #{next_of_kin.person.surname}" } %></div>
        </div>
        <div class="row">
          <span>Status:</span>
          <div><%= print { record.status.demodulize.titleize } %></div>
        </div>
      </div>
      <div class="right rowed">
        <div class="row">
          <span>Created:</span><div>15/01/2012 by Mara Rooks</div>
        </div>
        <div class="row">
          <span>Last Modified:</span><div>25/01/2012 by Ron Clarke</div>
        </div>
      </div>
    </div>
  </div>
<% end %>