<% records.each do |record|
  main_role = record.role_by_type('deceased') || record.role_by_type('reservee')
  applicant = record.role_by_type('applicant') 
  next_of_kin = record.role_by_type('next_of_kin')
  %>
  <div class="clickable <%= record.status %>">
    <div class="summary">
      <span style="float: left;">
        <%= record.type.demodulize.titleize %> for
        <%= print {
          (main_role) ?
            "#{main_role.person.title} #{main_role.person.given_name} #{main_role.person.middle_name ? '<small>'+main_role.person.middle_name+'</small>' : ''} #{main_role.person.surname}" :
            (record.alternate_reservee) ?
              record.alternate_reservee :
              "<small>"+(record.type == 'interment' ? 'No deceased' : 'No reservee')+"</small>"
        } %>
      </span>
      <span style="float: right; margin-right: 32px;"><%= print { record.place.full_name } %></span>
      <div style="clear: both;"></div>
      <a class="goto" href="<%= absolute "/#{record.type.downcase}/#{record.id}" %>" title="View record"></a>
    </div>
    <div class="details">
      <div class="left rowed">
        <div class="row">
          <span>Applicant:</span>
          <div><%= print { "#{applicant.person.title} #{applicant.person.given_name} #{applicant.person.surname}" } %></div>
        </div>
        <div class="row">
          <span>Next of Kin:</span>
          <div><%= print { "#{next_of_kin.person.title} #{next_of_kin.person.given_name} #{next_of_kin.person.surname}" } %></div>
        </div>
        <div class="row">
          <span>Status:</span>
          <div><%= print { record.status.demodulize.titleize } %></div>
        </div>
      </div>
      <div class="right rowed">
        <div class="row">
          <span>Created:</span><div><%= print('<small>unknown</small>') { "#{record.created_at.strftime('%d/%m/%Y %l:%M%P')} by #{record.created_by}" } %></div>
        </div>
        <div class="row">
          <span>Last Modified:</span><div><%= print('<small>never</small>') { "#{record.modified_at.strftime('%d/%m/%Y %l:%M%P')} by #{record.modified_by}" } %></div>
        </div>
      </div>
    </div>
  </div>
<% end %>