<div class="row">
  <span>Name</span>
  <div><%= role.person.title %> <%= role.person.given_name %> <%= role.person.surname %></div>
</div>
<div class="row">
  <span>Gender</span>
  <div><%= print_field { role.person.gender.demodulize.titleize } %></div>
</div>
<div class="row">
  <span>Date of Birth</span>
  <div><%= print_field role.person.date_of_birth %></div>
</div>
<div class="row">
  <span class="align_top">Residential Contact</span>
  <div>
    <%=
    rc = role.residential_contact
    "#{rc.street_address}<br />
    #{rc.town}, #{rc.state} #{rc.postal_code}<br />
    #{rc.primary_phone} #{(rc.secondary_phone.blank?) ? '' : ', '+rc.secondary_phone}<br />
    #{rc.email}"
    %>
  </div>
</div>
<div class="row">
  <span class="align_top">Mailing Contact</span>
  <div>
  <%=
  mc = role.mailing_contact
  if mc
    "#{mc.street_address}<br />
    #{mc.town}, #{mc.state} #{mc.postal_code}<br />
    #{mc.primary_phone} #{(mc.secondary_phone.blank?) ? '' : ', '+mc.secondary_phone}<br />
    #{mc.email}"
  else
    "<small>none</small>"
  end
  %>
  </div>
</div>