<div class="row">
  <span>Name</span>
  <div><%= role.person.title %> <%= role.person.given_name %> <%= role.person.surname %></div>
</div>
<div class="row">
  <span>Gender</span>
  <div><%= print { role.person.gender.demodulize.titleize } %></div>
</div>
<div class="row">
  <span>Date of Birth</span>
  <div><%= print { role.person.date_of_birth } %></div>
</div>
<div class="row">
  <span>Date of Death</span>
  <div><%= print { role.person.date_of_death } %></div>
</div>
<div class="row">
  <span class="align_top">Residential Contact</span>
  <div>
  <%=
  (rc = role.residential_contact) ?
  "<div>#{rc.street_address}</div>
  <div>#{rc.town}, #{rc.state} #{rc.postal_code}</div>
  <div>#{rc.primary_phone} #{(rc.secondary_phone.blank?) ? '' : ', '+rc.secondary_phone}</div>
  <div>#{rc.email}</div>" :
  '<small>none</small>'
  %>
  </div>
</div>
<div class="row">
  <span class="align_top">Mailing Contact</span>
  <div>
  <%=
  (mc = role.mailing_contact) ?
  "<div>#{mc.street_address}</div>
  <div>#{mc.town}, #{mc.state} #{mc.postal_code}</div>
  <div>#{mc.primary_phone} #{(mc.secondary_phone.blank?) ? '' : ', '+mc.secondary_phone}</div>
  <div>#{mc.email}</div>" :
  '<small>none</small>'
  %>
  </div>
</div>