<% photos.each do |photo| %>
  <div class="image_container">
    <img src="<%= photo.file.thumbnail.url %>"
      width="<%= Tombstone::PhotoUploader.dimensions[:thumbnail][0] %>"
      height="<%= Tombstone::PhotoUploader.dimensions[:thumbnail][1] %>" />
    <div class="info">
      <span><%= photo.name %></span>
      <%= print('') { "<span>#{photo.timestamp.strftime('%Y-%m-%d %-I:%M%P')}</span>" } %></span>
    </div>
    <a href="<%= url(:photos_delete, :place_id => photo.place_id, :id => photo.id) %>" class="delete" title="Delete photo"></a>
  </div>
<% end %>