<% photos.each do |photo| %>
  <div class="image_container">
    <a href="<%= photo.file %>" target="_blank">
      <img src="<%= photo.file.thumbnail.url %>"
        width="<%= Tombstone::PhotoUploader.dimensions[:thumbnail][0] %>"
        height="<%= Tombstone::PhotoUploader.dimensions[:thumbnail][1] %>" />
    </a>
    <div class="info">
      <span><%= photo.name %></span>
      <%= print('') { "<span>#{photo.timestamp.strftime('%Y-%m-%d %-I:%M%P')}</span>" } %></span>
    </div>
  </div>
<% end %>