<h2>Upcoming Burials</h2>
<div class="list_rows">
    <% last_day = ''
       @calendar.retrieve_upcoming_interments(Date.today, (Date.today + 7)).all.each do |interment|
           deceased_role = interment.roles_by_type('deceased')[0]
           day = print_simple_day(interment.interment_date)
           if day != last_day %>
            <h3><%= day %></h3>
        <% end
           last_day = day %>
        <div class="padded">
            [#<%= interment.id.to_s %>
            ] <%= print_field { "#{deceased_role.person.title} #{deceased_role.person.given_name} #{deceased_role.person.surname}" } %>
            <%= print_field { interment.interment_date.strftime("@ %I:%M%p") } %>
            - <%= print_field { interment.place.cemetery_name } %>
            <a class="goto goto_<%=interment.alert_status%>" href="<%= url :"#{interment.type.downcase}_view", :id => interment.id %>" title="View record"></a>
        </div>
    <% end %>
</div>