<% document[:breadcrumb] = false %>
<div id="navigation_bar">
  <a href="<%= absolute '/find' %>" class="action find">Find</a>
  <a href="<%= absolute '/interment' %>" class="action burial">New Burial</a>
  <a href="<%= absolute '/reservation' %>" class="action reservation">New Reservation</a>
  <a href="<%= absolute '/calendar' %>" class="action calendar">Calendar</a>
</div>
<div class="inline_layout align_top">
  <div style="width: 48%">
    <h2>Tasks</h2>
    <div class="list_rows">
      <%
      @calendar.outstanding_tasks.all.each do |interment|
        deceased_role = interment.role_by_type('deceased')
        %>
        <div class="padded">
          <%= interment.id %> -
          <%= print { "#{deceased_role.person.title} #{deceased_role.person.given_name} #{deceased_role.person.surname}" } %> -
          <%= print { interment.status.capitalize } %>
          <a class="goto <%= interment.alert_status %>" href="<%= absolute "/#{interment.type.downcase}/#{interment.id}" %>" title="View record"></a>
        </div>
      <% end %>
    </div>
  </div>
  <div style="width: 4%"></div>
  <div style="width: 48%">
    <h2>Upcoming Burials</h2>
    <div>
      <%
      grouped = Hash.new { |h,k| h[k] = [] }
      @calendar.upcoming_interments(DateTime.now, (Date.today + 7)).all.each do |interment|
        grouped[interment.interment_date.to_date] << interment
      end
      grouped.each do |date, interments| %>
        <h3><%= print_simple_day(date) %></h3>
        <div class="list_rows">
          <%
          interments.each do |interment|
            deceased_role = interment.role_by_type('deceased')
            %>
            <div class="padded">
              <%= interment.id %> -
              <%= print { "#{deceased_role.person.title} #{deceased_role.person.given_name} #{deceased_role.person.surname}" } %>
              <br />
              <%= print { interment.interment_date.strftime("%-I:%M%P") } %> at
              <%= print { interment.place.cemetery.name } %>
              <a class="goto <%=interment.alert_status%>" href="<%= absolute "/#{interment.type.downcase}/#{interment.id}" %>" title="View record"></a>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
