<% @document[:breadcrumb] = false %>
<div id="navigation_bar">
    <a href="<%= url :find_index %>" class="action find">Find</a>
    <a href="<%= url :interment_new %>" class="action burial">New Burial</a>
    <a href="<%= url :reservation_new %>" class="action reservation">New Reservation</a>
    <a href="<%= url :calendar_index %>" class="action calendar">Calendar</a>
</div>
<div class="inline_layout align_top">
    <div style="width: 48%">
        <%= partial 'tasks' %>    </div>
    <div style="width: 4%"></div>
    <div style="width: 48%">
        <%= partial 'upcoming_burials' %>
    </div>
</div>