<% content_for :head do %>  
  <script type="application/json" id="json:allocation_data">
    <%=
    @allocation.to_json( include: {
      roles: { include: [:person, :residential_contact, :mailing_contact] },
      place: {},
      transactions: {},
      photos: {:include => [:thumbnail, :thumbnail_dimensions]},
      legacy_fields: {}
    })
    %>
  </script>
  
  <script type="application/json" id="json:place_data">
    <%=
    begin
      if @allocation.place
        @allocation.place.ancestors(true).reverse.map { |place| place.siblings.naked.all }
      else
        [Tombstone::Place.filter(:parent_id => nil).available_only.order(:name).naked.all]
      end
    end.to_json
    %>
  </script>
  
  <script type="text/javascript">
    $(function() {
  		$('[name=funeral_service_location]').combobox({placeholder: 'Select or type...'});
  	});
  </script>
<% end %>
<form id="interment_form" class="rowed wide" action="<%= (Tombstone::Interment === @allocation) ? "/interment/#{@allocation.id}" : "/interment" %>">
  <section>
    <h2 class="underline">Funeral Service</h2>
    <div class="padded">
      <label>
        <span>Director</span>
        <%= select_tag(:funeral_director,
          :collection => @funeral_directors,
          :fields => [:name, :id],
          :selected => @allocation.funeral_director_id,
          :include_blank => ''
        ) %>
      </label>
      <label>
        <span>Director Name</span>
        <input type="text" name="funeral_director_name" style="width: 40%" />
      </label>
      <label class="ui-widget">
        <span>Location</span>
      	<select name="funeral_service_location">
      		<option value="">Select or type...</option>
      		<option value="ActionScript">Grave Side</option>
      		<option value="AppleScript">Church</option>
      	</select>
        <!-- <input type="text" name="funeral_service_location" style="width: 40%;"  /> -->
        <!--
        <span style="position: relative; border: 1px solid #999; width: 30%; padding-right: 20px; padding-bottom: 0px;">
          <input type="text" name="funeral_service_location" style="width: 100%; border: none; position: relative; z-index: 10; outline: none !important;"  />
          <select style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; border: none; z-index: 1; outline: none !important;" onchange="$(this).prev().val($(this).val())">
             <option>Grave Side</option>
             <option>Church</option>
          </select>
        </span>
        -->
      </label>
    </div>
  </section>
  <section>
    <h2 class="underline">Other Details</h2>
    <div class="padded">
      <label>
        <span>Interment Type</span>
        <%= select_tag(:interment_type,
          :options => Tombstone::Interment.valid_interment_types.map{|v| [v.demodulize.titleize, v]},
          :selected => @allocation.interment_type,
          :include_blank => ''
        ) %>
      </label>
      <label>
        <span>Advice Received Date</span>
        <input type="date" name="advice_received_date" placeholder="e.g. <%= Time.now.strftime('%d/%m/%Y') %>" />
      </label>
    	<label>
        <span>Interment Date &amp; Time</span>
        <input type="datetime" name="interment_date" placeholder="e.g. <%= Time.now.strftime('%d/%m/%Y %-I:%M%P') %>"
        <% if @allocation.interment_date %>
            value="<%= @allocation.interment_date.strftime('%d/%m/%Y %-I:%M%P')%>"
        <% end %>
        />
      </label>
      <div class="row">
        <span class="align_top">Receipt No's</span>
        <div class="multiinput_control">
          <% if @allocation.id
            @allocation.transactions.each do |trans| %>
              <div><input type="text" name="transactions[]" value="<%= trans.receipt_no %>" placeholder="Add..."></div>
            <% end
          end %>
          <div><input type="text" name="transactions[]" placeholder="Add..."></div>
        </div>
      </div>
      <label>
        <span class="align_top">Burial Requirements</span>
        <textarea name="burial_requirements" style="width: 100%; height: 56px;"></textarea>
      </label>
      <label>
        <span class="align_top">Comments</span>
        <textarea name="comments" style="width: 100%; height: 82px;"></textarea>
      </label>
    </div>
  </section>
  <% if @allocation.id %>
    <input type="hidden" name="id" value="<%= @allocation.id %>" />
  <% end %>
  <input type="hidden" name="_method" value="<%= (Tombstone::Interment === @allocation && @allocation.id) ? 'put' : 'post'  %>" />
</form>