<% content_for :head do %>
  <script type="application/json" id="json:allocation_data">
    <%=
    @allocation.to_json(include: {roles: {include: [:person, :residential_contact, :mailing_contact]}, place: {}, transactions: {}})
    %>
  </script>
  
  <script type="application/json" id="json:place_data">
    <%=
    begin
      if places = @allocation.place && @allocation.place.ancestors(true).reverse
        Hash[*places.map { |place| [place.id, place.siblings.naked.all] }.flatten(1)]
      else
        {nil => Tombstone::Place.filter(:parent_id => nil).available_only.order(:name).naked.all}
      end
    end.to_json
    %>
  </script>
<% end %>
<%
include_script_views('role_wizard', 'form')
%>
<form id="interment_form" class="rowed wide" action="<%= (Tombstone::Interment === @allocation) ? "/interment/#{@allocation.id}" : "/interment" %>">
  <section>
    <h2 class="underline">Funeral Service</h2>
    <div class="section padded">
      <label>
        <span>Director</span>
        <%= select_tag(:funeral_director,
          :collection => @funeral_directors,
          :fields => [:name, :id],
          :selected => @allocation.funeral_director_id,
          :include_blank => ''
        ) %>
      </label>
      <label>
        <span>Director Name</span>
        <input type="text" name="funeral_director_name" style="width: 40%" />
      </label>
      <label>
        <span>Location</span>
        <input type="text" name="funeral_service_location" style="width: 60%" />
      </label>
    </div>
  </section>
  <section>
    <h2 class="underline">Other Details</h2>
    <div class="section padded">
      <label>
        <span>Interment Type</span>
        <%= select_tag(:interment_type,
          :options => Tombstone::Interment.valid_interment_types.map{|v| [v.demodulize.titleize, v]},
          :selected => @allocation.interment_type,
          :include_blank => ''
        ) %>
      </label>
      <label>
        <span>Advice Received Date</span>
        <input type="date" name="advice_received_date" placeholder="e.g. <%= Time.now.strftime('%d/%m/%Y') %>" />
      </label>
    	<label>
        <span>Interment Date &amp; Time</span>
        <input type="datetime" name="interment_date" placeholder="e.g. <%= Time.now.strftime('%d/%m/%Y %-I:%M%P') %>"
        <% if @allocation.interment_date %>
            value="<%= @allocation.interment_date.strftime('%d/%m/%Y %-I:%M%P')%>"
        <% end %>
        />
      </label>
      <div class="row">
        <span class="align_top">Receipt No's</span>
        <div class="multiinput_control">
          <% if @allocation.id
            @allocation.transactions.each do |trans| %>
              <div><input type="text" name="transactions[]" value="<%= trans.receipt_no %>" placeholder="Add..."></div>
            <% end
          end %>
          <div><input type="text" name="transactions[]" placeholder="Add..."></div>
        </div>
      </div>
      <label>
        <span class="align_top">Burial Requirements</span>
        <textarea name="burial_requirements" style="width: 100%; height: 56px;"></textarea>
      </label>
      <label>
        <span class="align_top">Comments</span>
        <textarea name="comments" style="width: 100%; height: 82px;"></textarea>
      </label>
    </div>
  </section>
  <% if @allocation.id  %>
    <input type="hidden" name="id" value="<%= @allocation.id %>" />
  <% end %>
  <input type="hidden" name="_method" value="<%= (Tombstone::Interment === @allocation && @allocation.id) ? 'put' : 'post'  %>" />
</form>