<% content_for :head do %>
  <script type="text/javascript">
    $( function () {
      var place_id = ($('#json\\:allocation_data').parseJSON() || {}).place_id
      var fileInput = $('#file_input')
      var formFrame = $('<iframe name="photo_form_frame" style="display: none;" />')
      var form = $('<form action="/photos/'+place_id+'" method="post" target="photo_form_frame" enctype="multipart/form-data" />')
      var intermentForm = $('#interment_form')
      var indicator = $('<div class="indicator loading" style="display: none;" />')
      fileInput.after(indicator)
      intermentForm.after(formFrame).after(form)
      fileInput.change( function () {
        var originalParent = $(this).parent()
        $(this).appendTo(form)
        form.submit()
        $(this).prependTo(originalParent)
        indicator.css({display: ''})
      })
      formFrame.load( function () {
        fileInput.val('')
        indicator.css({display: 'none'})
        $.ajax('/photos/'+place_id+'/edit', {
          success: function (html) {
            $('.photos').html(html)
          }
        })
      })
    })
  </script>
  
  <script type="application/json" id="json:allocation_data">
    <%=
    @allocation.to_json(include: {roles: {include: [:person, :residential_contact, :mailing_contact]}, place: {}, transactions: {}})
    %>
  </script>
  
  <script type="application/json" id="json:place_data">
    <%=
    begin
      if @allocation.place
        @allocation.place.ancestors(true).reverse.map { |place| place.siblings.naked.all }
      else
        [Tombstone::Place.filter(:parent_id => nil).available_only.order(:name).naked.all]
      end
    end.to_json
    %>
  </script>
<% end %>
<form id="interment_form" class="rowed wide" action="<%= (Tombstone::Interment === @allocation) ? "/interment/#{@allocation.id}" : "/interment" %>">
  <section>
    <h2 class="underline">Funeral Service</h2>
    <div class="padded">
      <label>
        <span>Director</span>
        <%= select_tag(:funeral_director,
          :collection => @funeral_directors,
          :fields => [:name, :id],
          :selected => @allocation.funeral_director_id,
          :include_blank => ''
        ) %>
      </label>
      <label>
        <span>Director Name</span>
        <input type="text" name="funeral_director_name" style="width: 40%" />
      </label>
      <label>
        <span>Location</span>
        <input type="text" name="funeral_service_location" style="width: 60%" />
      </label>
    </div>
  </section>
  <section>
    <h2 class="underline">Other Details</h2>
    <div class="padded">
      <label>
        <span>Interment Type</span>
        <%= select_tag(:interment_type,
          :options => Tombstone::Interment.valid_interment_types.map{|v| [v.demodulize.titleize, v]},
          :selected => @allocation.interment_type,
          :include_blank => ''
        ) %>
      </label>
      <label>
        <span>Advice Received Date</span>
        <input type="date" name="advice_received_date" placeholder="e.g. <%= Time.now.strftime('%d/%m/%Y') %>" />
      </label>
    	<label>
        <span>Interment Date &amp; Time</span>
        <input type="datetime" name="interment_date" placeholder="e.g. <%= Time.now.strftime('%d/%m/%Y %-I:%M%P') %>"
        <% if @allocation.interment_date %>
            value="<%= @allocation.interment_date.strftime('%d/%m/%Y %-I:%M%P')%>"
        <% end %>
        />
      </label>
      <div class="row">
        <span class="align_top">Receipt No's</span>
        <div class="multiinput_control">
          <% if @allocation.id
            @allocation.transactions.each do |trans| %>
              <div><input type="text" name="transactions[]" value="<%= trans.receipt_no %>" placeholder="Add..."></div>
            <% end
          end %>
          <div><input type="text" name="transactions[]" placeholder="Add..."></div>
        </div>
      </div>
      <label>
        <span class="align_top">Burial Requirements</span>
        <textarea name="burial_requirements" style="width: 100%; height: 56px;"></textarea>
      </label>
      <label>
        <span class="align_top">Comments</span>
        <textarea name="comments" style="width: 100%; height: 82px;"></textarea>
      </label>
    </div>
  </section>
  <% if @allocation.id %>
    <section>
      <h2 class="underline">Photographs</h2>
      <div>
        <input type="file" name="file" id="file_input" />
        <div class="photos">
          <%= partial 'photos/edit', :locals => {photos: @allocation.place.photos} %>
        </div>
      </div>
    </section>
    <input type="hidden" name="id" value="<%= @allocation.id %>" />
  <% end %>
  <input type="hidden" name="_method" value="<%= (Tombstone::Interment === @allocation && @allocation.id) ? 'put' : 'post'  %>" />
</form>