<% content_for :head do %>
  <script type="application/json" id="json:allocation_data">
    <%=
    if @allocation.new?
      @allocation.to_json
    else
      @allocation.to_json( include: {
        roles: { include: [:person, :residential_contact, :mailing_contact] },
        place: {},
        transactions: {},
        files: {except: [:data, :thumbnail], include: [:thumbnail_dimensions]},
        legacy_fields: {}
      })
    end
    %>
  </script>

  <script type="application/json" id="json:place_data">
    <%=
    begin
      if @allocation.place
        @allocation.place.ancestors(true).reverse.map { |place| place.siblings.available_only.or(:place__id => place.id).with_natural_order.naked.all }
      else
        [Tombstone::Place.filter(:parent_id => nil).available_only.order(:name).with_natural_order.naked.all]
      end
    end.to_json
    %>
  </script>
<% end %>
<form id="interment_form" class="rowed wide" action="<%= (Tombstone::Interment === @allocation) ? "/interment/#{@allocation.id}" : "/interment" %>">
  <section>
    <h2 class="underline">Funeral Service</h2>
    <div class="padded">
      <label>
        <span>Director</span>
        <!-- TODO: Fix up default selected option: @allocation.funeral_director_id -->
        <select name="funeral_director_id">
          <option></option>
          <% @funeral_directors.each do |director| %>
            <option value="<%= director.id %>"><%= director.name %></option>
          <% end %>
        </select>
      </label>
      <label>
        <span>Director Name</span>
        <input type="text" name="funeral_director_name" style="width: 40%" />
      </label>
      <label>
        <span>Location</span>
      	<input name="funeral_service_location" list="funeral_services" style="width: 30%">
        <datalist id="funeral_services">
          <option value="Grave Side">
      		<option value="Church">
      	</datalist>
        <!-- <input type="text" name="funeral_service_location" style="width: 40%;"  /> -->
        <!--
        <span style="position: relative; border: 1px solid #999; width: 30%; padding-right: 20px; padding-bottom: 0px;">
          <input type="text" name="funeral_service_location" style="width: 100%; border: none; position: relative; z-index: 10; outline: none !important;"  />
          <select style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; border: none; z-index: 1; outline: none !important;" onchange="$(this).prev().val($(this).val())">
             <option>Grave Side</option>
             <option>Church</option>
          </select>
        </span>
        -->
      </label>
    </div>
  </section>
  <section>
    <h2 class="underline">Other Details</h2>
    <div class="padded">
      <label>
        <span>Interment Type</span>
        <!-- TODO: Fix up default selected option: @allocation.interment_type -->
        <select name="interment_type">
          <option></option>
          <% Tombstone::Interment.valid_interment_types.map{|v| [v.demodulize.titleize, v]}.each do |name, value| %>
            <option value="<%= value %>"><%= name %></option>
          <% end %>
        </select>
      </label>
      <label>
        <span>Advice Received Date</span>
        <input type="date" name="advice_received_date" placeholder="e.g. <%= Time.now.strftime('%d/%m/%Y') %>" />
      </label>
    	<label>
        <span>Interment Date &amp; Time</span>
        <input type="datetime" name="interment_date" placeholder="e.g. <%= Time.now.strftime('%d/%m/%Y %-I:%M%P') %>"
        <% if @allocation.interment_date %>
            value="<%= @allocation.interment_date.strftime('%d/%m/%Y %-I:%M%P')%>"
        <% end %>
        />
      </label>
      <div class="row">
        <span class="align_top">Receipt No's</span>
        <div class="multiinput_control">
          <% [nil].unshift(*@allocation.transactions).each do |trans| %>
            <div>
              <input type="text" name="transactions[]" value="<%= trans ? trans.receipt_no : '' %>" placeholder="Add..."
                maxlength="<%= Tombstone::Transaction.db_schema[:receipt_no][:max_chars].to_i %>"
                title="Expects a valid proclaim receipt number">
            </div>
          <% end %>
        </div>
      </div>
      <label>
        <span class="align_top">Burial Requirements</span>
        <textarea name="burial_requirements" style="width: 100%; height: 56px;"></textarea>
      </label>
      <label>
        <span class="align_top">Comments</span>
        <textarea name="comments" style="width: 100%; height: 82px;"></textarea>
      </label>
    </div>
  </section>
  <% if Tombstone::Interment === @allocation && @allocation.id %>
    <input type="hidden" name="id" value="<%= @allocation.id %>" />
  <% end %>
  <input type="hidden" name="_method" value="<%= (Tombstone::Interment === @allocation && @allocation.id) ? 'put' : 'post'  %>" />
</form>
