<%
@document[:title] = "View Interment ##{@allocation.id}"
@document[:page_heading] = print("Interment ##{@allocation.id}") do
  "Interment of #{@allocation.role_by_type('deceased').person.name.titleize}"
end
content_for :head do
%>
  <script type="text/javascript">
  $(function () {
      (new Ts.FormViews.AllocationView({el: $('#interment_view')[0]})).render().el
    })
    
  </script>
  <script type="application/json" id="json:allocation_data">
    <%=
    @allocation.to_json( include: {
      roles: { include: [:person, :residential_contact, :mailing_contact] },
      place: {},
      transactions: {},
      files: {except: [:data, :thumbnail], include: [:thumbnail_dimensions]},
      legacy_fields: {}
    })
    %>
  </script>
  <script type="application/json" id="json:permitted_states">
    <%=
    @allocation.permitted_states.to_json
    %>
  </script>
<%
end
%>
<div id="interment_view" class="rowed very_wide view">
  <% @allocation.roles.each do |role| %>
    <section>
      <h2 class="underline"><%= role.type.demodulize.titleize %></h2>
      <div id="<%= role.type %>_section" class="padded" name="<%= role.type %>">
        <%= partial 'shared/role_view', :locals => {role: role} %>
      </div>
    </section>
  <% end %>
  <section>
    <h2 class="underline">Location</h2>
    <div id="places_section" class="padded" name="place">
    <% @allocation.place.ancestors.reverse.push(@allocation.place).each do |place| %>
      <div class="row">
        <span><%= place.type.demodulize.titleize %></span>
        <div><%= place.name %></div>
      </div>
    <% end %>
    </div>
  </section>
  <section>
    <h2 class="underline">Funeral Service</h2>
    <div class="padded">
      <label>
        <span>Director</span>
        <div><%= print { @allocation.funeral_director.name } %></div>
      </label>
      <label>
        <span>Director Name</span>
        <div><%= print { @allocation.funeral_director_name } %></div>
      </label>
      <label>
        <span>Location</span>
        <div><%= print { @allocation.funeral_service_location } %></div>
      </label>
    </div>
  </section>
  <section>
    <h2 class="underline">Other Details</h2>
    <div class="padded">
      <label>
        <span>Interment Type</span>
        <div><%= print { @allocation.interment_type.demodulize.titleize } %></div>
      </label>
      <label>
        <span>Advice Received Date</span>
        <div><%= print { @allocation.advice_received_date } %></div>
      </label>
    	<label>
        <span>Interment Date</span>
        <div><%= print { @allocation.interment_date.strftime('%d/%m/%Y %l:%M%P') } %></div>
      </label>
      <label>
        <span>Receipt No's</span>
        <div><%= print { @allocation.transactions.map{ |t| t.receipt_no }.join(', ') } %></div>
      </label>
      <label>
        <span class="align_top">Burial Requirements</span>
        <div><%= print { @allocation.burial_requirements } %></div>
      </label>
      <label>
        <span class="align_top">Comments</span>
        <div><%= print { @allocation.comments } %></div>
      </label>
      <label>
        <span>Status</span>
        <div><%= print { @allocation.status.demodulize.titleize } %></div>
      </label>
      <label>
        <span>Reservation</span>
        <div>
          <%= print { "<a href='#{url(:reservation_view, @allocation.reservation.id)}'>View Reservation</a>" } %>
        </div>
      </label>
      <div class="row" style="height: 16px;"></div>
      <label>
        <span>Created</span>
        <div>
          <%= print('<small>unknown</small>') { "#{@allocation.created_at.strftime('%d/%m/%Y %l:%M%P')} by #{@allocation.created_by}" } %>
        </div>
      </label>
      <label>
        <span>Modified</span>
        <div>
          <%= print('<small>never</small>') { "#{@allocation.modified_at.strftime('%d/%m/%Y %l:%M%P')} by #{@allocation.modified_by}" } %>
        </div>
      </label>
    </div>
  </section>
  <section>
    <h2 class="underline">Photographs</h2>
      <div name="files">
        <%=
        if @allocation.place.files.count > 0
          partial 'files/view', :locals => {files: @allocation.place.files}
        else
          "<small>No files are associated with this allocation.</small>"
        end
        %>
      </div>
    </div>
  </section>
</div>