<%
@document[:title] = "View Reservation ##{@reservation.id}"
content_for :head do
  <<-HEAD
    <script type="text/javascript">
    $( function () {
        var multibutton = new Ts.FormViews.Multibutton({name: 'action', values: {edit: 'Edit', delete: 'Delete', create_burial: 'Create Burial'}})
        $('#actions_section > div').append(multibutton.render().el)
      
        $('input[type=button]', multibutton.el).click(function (e) {
          alert('This function is not currently implemented.')
        })
      })
    </script>
  HEAD
end

include_script_views('form')
%>
<div class="rowed very_wide view">
  <% @reservation.roles.each do |role| %>
    <section>
      <h2 class="underline"><%= role.type.demodulize.titleize %></h2>
      <div id="<%= role.type %>_section" class="section padded" name="reservee">
        <%= partial 'partials/role_view', :locals => {role: role} %>
      </div>
    </section>
  <% end %>
  <section>
    <h2 class="underline">Location</h2>
    <div id="places_section" class="section padded" name="place">
    <% @reservation.place.ancestors.reverse.push(@reservation.place).each do |place| %>
      <div class="row">
        <span><%= place.type.demodulize.titleize %></span>
        <div><%= place.name %></div>
      </div>
    <% end %>
    </div>
  </section>
  <section>
    <h2 class="underline">Other Details</h2>
    <div class="section padded">
    	<label>
        <span>Location Description</span>
        <div><%= print_field @reservation.location_description %></div>
      </label>
      <label>
        <span>Comments</span>
        <div><%= print_field @reservation.comments %></div>
      </label>
    </div>
  </section>
  <section>
    <h2 class="underline">Actions</h2>
    <div id="actions_section" class="section padded">
      <div class="inline_layout"></div>
    </div>
  </section>
</div>