<%
@document[:title] = "View Reservation ##{@allocation.id}"
content_for :head do
%>
  <script type="text/javascript">
  $( function () {
      var multibutton = new Ts.FormViews.Multibutton({
        name: 'action',
        values: {edit: 'Edit', delete: 'Delete', inter: 'Inter'},
        actions: {
          edit: function () {
            window.location = <%= url(:reservation_edit, :id => @allocation.id).to_json %>
          },
          delete: function () {
            if (confirm('Are you sure you want to delete this reservation?')) {
              $('<form method="post" />').append($('<input type="hidden" name="_method" value="delete" />')).submit()
            }
          },
          inter: function () {
            window.location = <%= url(:interment_new_from_reservation, :id => @allocation.id).to_json %>
          },
          default: function () {
            alert('This function is not currently implemented.')
          }
        }
      })
      $('#actions_section > div').append(multibutton.render().el)
    })
  </script>
<%
end

include_script_views('form')
%>
<div class="rowed very_wide view">
  <% @allocation.roles.each do |role| %>
    <section>
      <h2 class="underline"><%= role.type.demodulize.titleize %></h2>
      <div id="<%= role.type %>_section" class="section padded" name="reservee">
        <%= partial 'shared/role_view', :locals => {role: role} %>
      </div>
    </section>
  <% end %>
  <section>
    <h2 class="underline">Location</h2>
    <div id="places_section" class="section padded" name="place">
    <% @allocation.place.ancestors.reverse.push(@allocation.place).each do |place| %>
      <div class="row">
        <span><%= place.type.demodulize.titleize %></span>
        <div><%= place.name %></div>
      </div>
    <% end %>
    </div>
  </section>
  <section>
    <h2 class="underline">Other Details</h2>
    <div class="section padded">
      <label>
        <span>Receipt No's</span>
        <div><%= print { @allocation.transactions.map{ |t| t.receipt_no }.join(', ') } %></div>
      </label>
    	<label>
        <span>Location Description</span>
        <div><%= print { allocation.location_description } %></div>
      </label>
      <label>
        <span>Comments</span>
        <div><%= print { @allocation.comments } %></div>
      </label>
      <label>
        <span>Status</span>
        <div><%= print { @allocation.status.demodulize.titleize } %></div>
      </label>
    </div>
  </section>
  <section>
    <h2 class="underline">Actions</h2>
    <div id="actions_section" class="section padded">
      <div class="inline_layout"></div>
    </div>
  </section>
</div>