<%
@document[:title] = "View Reservation ##{@allocation.id}"
@document[:page_heading] = print("Reservation ##{@allocation.id}") do
  "Reservation for #{@allocation.role_by_type('reservee').person.name.titleize}"
end
content_for :head do
%>
  <script type="text/javascript">
    $( function () {
      (new Ts.FormViews.AllocationView({el: $('#reservation_view')[0]})).render().el
    })
  </script>
  <script type="application/json" id="json:allocation_data">
    <%=
    @allocation.to_json( include: {
      interments: {},
      roles: { include: [:person, :residential_contact, :mailing_contact] },
      place: {},
      transactions: {},
      legacy_fields: {}
    })    %>
  </script>
  <script type="application/json" id="json:permitted_states">
    <%=
    @allocation.permitted_states.to_json
    %>
  </script>
<%
end
%>
<div id="reservation_view" class="rowed very_wide view">
  <%
  roles = {}
  roles['reservee'] = @allocation.alternate_reservee unless @allocation.alternate_reservee.blank?
  @allocation.roles.each { |v| roles[v.type] = v }
  roles.each do |type, value| %>
    <section>
      <h2 class="underline"><%= type.demodulize.titleize %></h2>
      <div id="<%= type %>_section" class="padded" name="<%= type %>">
        <%=
        if value.is_a? Tombstone::Role
          partial 'shared/role_view', :locals => {role: value}
        else
          "<div class='row'>
            <span>Alternate Reservee</span>
            <div>#{value}</div>
          </div>"
        end
        %>
      </div>
    </section>
  <% end %>
  <% if @allocation.place %>
    <section>
      <h2 class="underline">Location</h2>
      <div id="places_section" class="padded" name="place">
      <% @allocation.place.ancestors.reverse.push(@allocation.place).each do |place| %>
        <div class="row">
          <span><%= place.type.demodulize.titleize %></span>
          <div><%= place.name %></div>
        </div>
      <% end %>
      </div>
    </section>
  <% end %>
  <section>
    <h2 class="underline">Other Details</h2>
    <div class="padded">
      <label>
        <span>Receipt No's</span>
        <div><%= print { @allocation.transactions.map{ |t| t.receipt_no }.join(', ') } %></div>
      </label>
    	<label>
        <span>Location Description</span>
        <div><%= print { allocation.location_description } %></div>
      </label>
      <label>
        <span>Comments</span>
        <div><%= print { @allocation.comments } %></div>
      </label>
      <label>
        <span>Status</span>
        <div><%= print { @allocation.status.demodulize.titleize } %></div>
      </label>
      <label>
        <span>Interment</span>
        <div>
          <%
          if @allocation.interments.empty?
          %>
            <small>none</small>
          <% elsif @allocation.interments.length == 1 %>
            <a href="<%= "#{url(:interment_view, @allocation.interments.first.id)}" %>">View Interment</a>
          <% else
            @allocation.interments.each_with_index do |interment, idx|
            %>
              <a href="<%= "#{url(:interment_view, interment.id)}" %>">View Interment #<%= idx+1 %></a><%= ', ' if @allocation.interments.length > (idx+1) %>
            <%
            end
          end %>
        </div>
      </label>
      <div class="row" style="height: 16px;"></div>
      <label>
        <span>Created</span>
        <div>
          <%= print('<small>unknown</small>') { "#{@allocation.created_at.strftime('%d/%m/%Y %l:%M%P')} by #{@allocation.created_by}" } %>
        </div>
      </label>
      <label>
        <span>Modified</span>
        <div>
          <%= print('<small>never</small>') { "#{@allocation.modified_at.strftime('%d/%m/%Y %l:%M%P')} by #{@allocation.modified_by}" } %>
        </div>
      </label>
    </div>
  </section>
</div>