<!DOCTYPE html>
<html>
<head>
  <title><%= @document[:title] %></title>
  <link rel="stylesheet" href="<%= url "/reset.css" %>" />
  <link rel="stylesheet" href="<%= url "/style.css" %>" />
  <link rel="stylesheet" href="<%= url "/print.css" %>" />
  <link rel="stylesheet" href="<%= url "/scripts/vendor/jquery-ui/cupertino/jquery-ui-1.8.18.custom.css" %>" />
  <link rel="stylesheet" href="<%= url '/scripts/vendor/jquery-ui/jquery-ui-timepicker-addon.css' %>" />
  <script type="text/javascript" src="<%= url '/scripts/vendor/date-en-AU.js' %>"></script>
  <script type="text/javascript" src="<%= url '/scripts/vendor/jquery-1.7.1.min.js' %>"></script>
  <script type="text/javascript" src="<%= url '/scripts/vendor/jquery.livequery.js' %>"></script>
  <script type="text/javascript" src="<%= url '/scripts/vendor/jquery-ui/jquery-ui-1.8.18.custom.min.js' %>"></script>
  <script type="text/javascript" src="<%= url '/scripts/vendor/jquery-ui/jquery-ui-timepicker-addon.js' %>"></script>
  <script type="text/javascript" src="<%= url '/scripts/vendor/underscore.js' %>"></script>
  <script type="text/javascript" src="<%= url '/scripts/vendor/backbone.js' %>"></script>
  <script type="text/javascript" src="<%= url '/scripts/common.js' %>"></script>
  <script type="text/javascript" src="<%= url '/scripts/models.js' %>"></script>
  <script type="text/javascript" src="<%= url '/scripts/collections.js' %>"></script>
  <% @document[:scripts].each do |file| %>
    <script type="text/javascript" src="<%= url "/scripts/#{file}" %>"></script>
  <% end %>
  <%= yield_content :head %>
  <link rel="stylesheet" href="<%= url '/jquery.css' %>"/>
</head>
<body>
	<div id="container">
    <div class="info">
      <div>
        <%= print ('<small>Not logged in</small>') {
          "Hello, #{session[:ldap][:displayName].first} [ <a href='#{url :logout}'>logout</a> ]"
        } %>
      </div>
      <div><%= print ('Guest') { @user.role ? @user.role.demodulize.titleize : 'Guest' } %></div>
    </div>
    <div id="main_banner">Tombstone <sup>v<%= Tombstone::VERSION %></sup></div>
    <div id="print_banner">
      <%= @document[:page_heading] %><img src="<%= url 'images/trc_logo.png' %>" />
    </div>
    <%=
    if(@document[:breadcrumb].is_a? Array)
      '<div id="navigation_bar">'+build_breadcrumb(@document[:breadcrumb])+'</div>'
    elsif @document[:breadcrumb] == true
      '<div id="navigation_bar">'+build_breadcrumb+'</div>'
    end
    %>
    <% if @document[:banner] %>
      <div onclick="$(this).remove()" title="Click to hide" class="padded flash_banner <%= @document[:banner][0] %>"><%= @document[:banner][1] %></div>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>