<% include_script_views('form', 'wizard') %>
<!DOCTYPE html>
<html>
<head>
  <title><%= document[:title] %></title>
  <link rel="stylesheet" href="<%= url "/reset.css" %>" />
  <link rel="stylesheet" href="<%= url "/scripts/vendor/jquery-ui/smoothness/jquery-ui-1.8.21.custom.css" %>" />
  <link rel="stylesheet" href="<%= url '/scripts/vendor/jquery-ui/jquery-ui-timepicker-addon.css' %>" />
  <link rel="stylesheet" href="<%= url '/scripts/vendor/jquery.tipsy.css' %>" />
  <link rel="stylesheet" href="<%= url "/style.css?#{Tombstone::VERSION}" %>" />
  <link rel="stylesheet" href="<%= url "/print.css" %>" />
  <script type="text/javascript" src="<%= url '/scripts/vendor/date-en-AU.js' %>"></script>
  <script type="text/javascript" src="<%= url '/scripts/vendor/shims/es5-shim.js' %>"></script>
  <script type="text/javascript" src="<%= url '/scripts/vendor/shims/html5shiv-printshiv.js' %>"></script>
  <script type="text/javascript" src="<%= url '/scripts/vendor/moment.min.js' %>"></script>
  <script type="text/javascript" src="<%= url '/scripts/vendor/jquery-1.7.2.min.js' %>"></script>
  <script type="text/javascript" src="<%= url '/scripts/vendor/jquery.livequery.js' %>"></script>
  <script type="text/javascript" src="<%= url '/scripts/vendor/jquery.tipsy.js' %>"></script>
  <script type="text/javascript" src="<%= url '/scripts/vendor/jquery-ui/jquery-ui-1.8.21.custom.min.js' %>"></script>
  <script type="text/javascript" src="<%= url '/scripts/vendor/jquery-ui/jquery.ui.datepicker-en-AU.js' %>"></script>
  <script type="text/javascript" src="<%= url '/scripts/vendor/jquery-ui/jquery-ui-timepicker-addon.js' %>"></script>
  <script type="text/javascript" src="<%= url '/scripts/vendor/jquery-ui/jquery-ui-combobox.js' %>"></script>
  <script type="text/javascript" src="<%= url '/scripts/vendor/underscore.js' %>"></script>
  <script type="text/javascript" src="<%= url '/scripts/vendor/backbone.custom.js' %>"></script>
  <script type="text/javascript" src="<%= url '/scripts/common.js' %>"></script>
  <script type="text/javascript" src="<%= url '/scripts/views.js' %>"></script>
  <script type="text/javascript" src="<%= url '/scripts/models.js' %>"></script>
  <script type="text/javascript" src="<%= url '/scripts/collections.js' %>"></script>
  <% document[:scripts].each do |file| %>
    <script type="text/javascript" src="<%= url "/scripts/#{file}" %>"></script>
  <% end %>
  <%= yield_content :head %>
  <script type="text/javascript">
    $( function () {
      <%
      actions = [{title: 'Logout', href: absolute('/logout')}]
      actions << {title: 'Manage Places', href: absolute('/place/manage')} if env['tombstone.user'] && env['tombstone.user'].role_permissions.can_manage_cemeteries?
      %>
      var logged_in = <%= (!!session[:user_id]).to_json %>
      var multilink = new Ts.FormViews.Multilink({
        'class': 'small light',
        items: <%= actions.to_json %>
      })
      if (logged_in) {
        $('#banner_info').append($('<div style="margin-top: 1em;" />').append(multilink.render().el))
      }
    })
  </script>
  <link rel="stylesheet" href="<%= url '/jquery.css' %>"/>
</head>
<body>
	<div id="container">
    <div id="banner_info">
      <div>
        <%= print ('<small>Not logged in</small>') {
          "Hello, #{session[:ldap][:displayName].first} (#{env['tombstone.user'].role ? env['tombstone.user'].role.demodulize.titleize : 'Guest'})"
        } %>
      </div>
    </div>
    <div id="main_banner">MSC Tombstone <sup><%= ENV['RACK_ENV'].to_s.titleize %></sup></div>
    <div id="print_banner">
      <%= document[:page_heading] %><img src="<%= url 'images/logo.png' %>" />
    </div>
    <%=
    if document[:breadcrumb].is_a? Array
      '<div id="navigation_bar">'+build_breadcrumb(document[:breadcrumb])+'</div>'
    elsif document[:breadcrumb] == true
      '<div id="navigation_bar">'+build_breadcrumb+'</div>'
    end
    %>
    <% if document[:banner] %>
    <div class="padded message_banner <%= document[:banner][0] %>"><%= document[:banner][1] %><a class="close" onclick="$(this).parent().remove()" title="Click to close"></a></div>
    <% end %>
    <%= yield %>
  </div>
  <div id="footer">Tombstone v<%= Tombstone::VERSION %></div>
  <script>
    // Used to add odd/even styling to list_rows children by adding an even class for all even elements.
    $('.list_rows > div:nth-child(even)').livequery( function () {
      $(this).addClass('even')
    })
    $('.list_rows > div:nth-child(odd)').livequery( function () {
      $(this).removeClass('even')
    })
  </script>
</body>
</html>
